<h1>飯王に登録</h1>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>


<%= form_with model: @entry,url: entries_path do |form| %>
    <%= form.label :nickname, "名前" %>
    <%= form.text_field :nickname %>

    <%= form.label :title, "食べ物の名前" %>
    <%= form.text_field :title %>

  <%= form.label :image, "食べ物の写真" %>
  <%= form.file_field :image %>

  <%= form.hidden_field :category_id, value: @category.id %>

  <%= form.submit "登録する" %>
<% end %>
