<h1>投票する</h1>
  <p><%= @entry.nickname %></p>
  <p><%= @entry.title %></p>

<%= form_with model: @vote do |f| %>
  <%= f.label :comment , "コメントを記入する(自由)" %>
  <%= f.text_area :comment, rows: 5 %>
  <%= f.submit '投票する'%>
<% end %>
