<div class="max-w-3xl mx-auto p-6 bg-white rounded-md shadow-sm md:shadow-md ">
  <h1 class="text-3xl font-bold mb-6">投票する</h1>
  <div class="mb-6">
    <p class="text-2xl mt-2">「<%= @entry.title %>」</p>
    <p class="text-2xl mt-2"><%= @name %></p>
    <p class="text-2xl mt-4 break-words"><%= @entry.description %></p>
  </div>
  <% if flash[:error].present? %>
    <div class="text-red-500">
      <%= flash[:error] %>
    </div>
  <% end %>
  <%= form_with model: @vote, url: votes_path, class: "space-y-4" do |form| %>
    <div class="mb-4">
      <%= form.label :comment, "コメントを記入する【任意】", class: "block font-medium mb-2 text-gray-700" %>
      <%= form.text_area :comment, rows: 5, class: "w-full border border-gray-300 rounded-md p-2" %>
    </div>
    <%= form.hidden_field :entry_id, value: @entry.id %>
    <%= hidden_field_tag :category, @category %>
    <div class="text-center">
      <%= form.submit '投票する', class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
    </div>
  <% end %>
</div>
<div class="mt-8 text-center">
  <%= link_to entries_path(category: @category), class: 'btn btn-primary' do %>
    <i class="fa-solid fa-rotate-left"></i> 戻る
  <% end %>
</div>
<br>
<br>
