<!DOCTYPE html>
<html>
  <head>
    <title>TokyuVote2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="bg-blue-300 p-4">
      <nav class="container mx-auto flex justify-between items-center">
        <div>
          <%= link_to "Tokyu.rb", root_path %>
        </div>
        <div>
          <% if logged_in? %>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete },  class: "inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 hover:text-white" %>
          <% end %>
        </div>
      </nav>
    </header>
      <div class="container mx-auto mt-4 text-center">
        <% if notice %>
          <p class="bg-green-500 text-white p-4 rounded-md max-w-md mx-auto"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="bg-orange-500 text-white p-4 rounded-md max-w-md mx-auto"><%= alert %></p>
        <% end %>
      </div>
    <div class="container mx-auto mt-6">
      <%= yield %>
    </div>
  </body>
</html>
