<!DOCTYPE html>
<html>
  <head>
    <title>TokyuVote</title>
    <%= favicon_link_tag('icon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="bg-blue-300 p-4">
      <nav class="container mx-auto flex justify-between items-center">
        <div>
          <%= link_to root_path do %>
            <%= image_tag 'icon.png', alt: 'Tokyu.rb', class: 'h-12' %>
          <% end %>
        </div>
          <% if logged_in? %>
            <%= button_to 'ログアウト', logout_path, method: :delete, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 hover:text-white" %>
          <% end %>
        </div>
      </nav>
    </header>
      <div class="container mx-auto mt-4 text-center px-4 sm:px-6 lg:px-8">
        <% if notice %>
          <p class="bg-green-100 text-green-700 p-4 rounded-md max-w-full sm:max-w-lg md:max-w-md mx-auto"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="bg-orange-100 text-orange-700 p-4 rounded-md max-w-full sm:max-w-lg md:max-w-md mx-auto"><%= alert %></p>
        <% end %>
      </div>
      <div class="container mx-auto mt-6 text-gray-700">
        <%= yield %>
      </div>
  </body>
</html>
